.field {
    width: 400px;
    border-radius: 20px;
}

.title-field {
    margin-left: 35%; 
    width: 50%;
}

.textbox-names {
    margin-top: 10px;
    margin-right: 10%;
    text-align: right; 
}

.input-field {    
    margin-top: 10px;
    margin-left: 5%;
    width: 60%;
}

.payment-info {
    margin-left: 5%;
    text-align: right;
}

.card-info-box {
    margin-right: 10%;
}

.submit-button {
    margin-left: auto;
    margin-right: auto;

    margin-top: 10px
}